<!DOCTYPE html>
{% load static %}
<html lang="az">
<head>
    <script src="https://fpyf8.com/88/tag.min.js" data-zone="153652" async data-cfasync="false"></script>
    <meta name="monetag" content="78f910bc21b284aab499b6acad140489">
    <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7781818814784424"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniChat - Ağıllı Təhsil Platforması</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="icon" href="static/ChatGPT Image 13 Haz 2025 18_48_07.png">
</head>

<body>
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-7781818814784424">
</amp-auto-ads>
    <div class="bg-container"></div>
    <div class="bg-overlay"></div>
    {% include 'nav.html' %}
    <main>
        <div class="university-card">
            <h3>Ümumi Balınız</h3>
            <p>{{ total }}</p>
    </div>
        <div class="container">
            <section class="university-section">
                <h2 class="section-title">150 BALLIQ İXTİSASLAR</h2>
                <div class="university-grid">
                    <div class="university-card">
                        <div class="university-logo">🏫</div>
                        <h3>150 BALLIQ İXTİSASLAR</h3>
                        <h2>
                            {{ ixtisaslar }}
                        </h2>
                        
                    </div>

                </div>
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>